extends ../layout
append head
    script(src='/javascripts/task/index.js')
block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        form#create_task_form.form-horizontal(action='/tasks')
                                            .control-group
                                                label.control-label(for='name') 任务名
                                                .controls
                                                    input(type='text', autocomplete='off', placeholder='任务名', name='name', required='true')
                                            .control-group
                                                label.control-label(for='task_users') 参与者
                                                .controls
                                                    input(type='text',name='task_users',list="task_users_option", autocomplete='off')
                                                    input(type='text',name='task_users',list="task_users_option", autocomplete='off')
                                                    input(type='text',name='task_users',list="task_users_option", autocomplete='off')
                                                    a#add_more_task_user(href='#', tabindex='-1')
                                                        i.icon-plus
                                                        | 更多参与者 
                                                    datalist#task_users_option
                                                        - each user in users
                                                            option(value='#{user.name}') #{user.role}
                                            .control-group
                                                .controls
                                                    button#create_task_btn.btn.btn-primary 添加
                    .list
                        .list-header.clearfix
                            header 任务
                            .operate-wrapper
                                button.btn.btn-primary 添加任务
                        .list-body.scrollable
                            .task-list-filter
                                .btn-group#task_status_filter
                                    button.btn.btn-small 正在开发
                                    button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                        span.caret
                                    ul.dropdown-menu
                                        li.dropdown-submenu
                                            a(tabindex='-1',href='/') 正在开发
                                            ul.dropdown-menu
                                        li.divider
                                        li
                                            a(href='/tasks?status=需求提交')  需求提交
                                        li
                                            a(href='/tasks?active=false')  已存档
                                datalist#datalist_status_selecter
                                    include ../include/task-status
                            ul.task-list.unstyled
                                li.title
                                    .task-custom-id id
                                    .name 任务名
                                    .status 状态
                                    .branch 分支
                                    .time 时间点 
                                - each task in tasks
                                    li 
                                        .task-custom-id #{task.custom_id}
                                        a.name(href='/tasks/#{task._id}') #{task.name}
                                        .status
                                            span.label #{task.status}                                            
                                        .branch #{task.branch}
                                        .time
                                            - if (task.milestones.length > 0)
                                                span.badge(rel="popover", data-original-title="时间点") #{task.milestones.length}时间点
                                                ul.event-time-content
                                                    - each milestone in task.milestones
                                                        li #{milestone.name} #{milestone.event_time.substring(5)}
                                        
