extends ../layout
append head
    script(src='/javascripts/task/info.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        //- #add_task_milestone_form_wrapper.task-form-wrapper
                                        //-     form#add_task_milestone_form.form-horizontal(action='/tasks/#{task._id}/milestones')
                                        //-         legend 添加时间点
                                                //- .control-group
                                                //-     label.control-label(for='task_milestone_name') 名称
                                                //-     .controls
                                                //-             select(name='task_milestone_name')
                                                //-                 option(value='提交测试') 提交测试
                                                //-                 option(value='测试完成') 测试完成
                                                //-                 option(value='发外网') 发外网
                                                //-             input#custom_milestone_name_input(type='text',name='task_milestone_name', autocomplete='off', placeholder='输入事件名称')
                                                //-             button(tabindex='-1')#custom_milestone_name.btn.btn-link.btn-small 自定义事件名称
                                                //- .control-group
                                                //-     label.control-label(for='task_milestone_time') 时间
                                                //-     .controls
                                                //-         input(type='date',name='task_milestone_time', autocomplete='off', required='true', pattern='^[0-9]{4}/(((0[13578]|(10|12))/(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)/(0[1-9]|[1-2][0-9]|30)))$')
                                                //- .control-group
                                                //-     .controls
                                                //-         button#add_task_milestone_form_btn.btn.btn-primary 添加
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}') 
                                a.task-name(href='/tasks/#{task.custom_id}') 
                                    - if (!task.active)
                                        i.icon-lock(title='该任务已存档')
                                    | #{task.custom_id} - #{task.name}
                            .back
                                a.btn.btn-small(href='/tasks') 
                                    i.icon-chevron-left
                                    |  返回任务列表
                            .operate-wrapper
                                button#editTaskBtn.btn.btn-primary.btn-small 编辑任务
                        .task-summary.scrollable
                            .task-summary-wrapper.clearfix
                                include ../include/task-nav
                                .task-users.clearfix
                                    .task-users-wrapper.clearfix
                                        - each taskuser in task.users
                                            a.user(href='/users/#{taskuser._id}')
                                                img.img-polaroid.img-rounded(src='#{taskuser.avatar_url}')
                                                .info 
                                                    .name #{taskuser.name}
                                                    .role 
                                                        small 
                                                            em #{taskuser.role}
                                .task-info.clearfix
                                    ul
                                        li 
                                            strong [分支]
                                            span #{task.branch}
                                        li 
                                            strong [分值]
                                            span #{task.score}
                                        li 
                                            strong [站点]
                                            span #{task.projects.join(', ')}
                                .task-milestone.clearfix
                                    header 时间点
                                        i#addMilestoneBtn.icon-plus-sign
                                    ul
                                        - each milestone in milestones
                                            li
                                                span #{milestone.event_time.substring(5)}
                                                a.milestone-name(href='#', data-id="#{milestone._id}", data-time="#{milestone.event_time}", data-toggle="tooltip", data-original-title="#{milestone.content}") #{milestone.name}
                                - if (latestStauts)
                                    .task-summary-version.clearfix
                                        img.img-polaroid.img-rounded(src='#{latestStauts.operator.avatar_url}')
                                        .change-status-btn-group
                                            .btn-group
                                                a.btn.btn-small.dropdown-toggle(data-toggle="dropdown", href="#") 修改状态
                                                    span.caret
                                                ul.dropdown-menu.pull-right
                                        .delete-this-status(title='删除此记录', data-id='#{latestStauts._id}')
                                            i.icon-remove
                                        .states-date #{latestStauts.created_time} by #{latestStauts.operator.name}
                                        .status-history-content
                                            .status-name
                                                span.label #{latestStauts.name}
                                            - if (latestStauts.content !== '')
                                                .status-history-des !{latestStauts.content}
                                            - if (latestStauts.files)
                                                .status-files
                                                    - each file in latestStauts.files
                                                        .file-item
                                                            i.icon-file
                                                            a(href='#{file.url}') #{file.name}
                                //- .task-summary-todo.clearfix
                                //-     header 
                                //-         a.more(href='/tasks/#{task._id}/todos', title='查看全部待办事项') 最新文档
                                //-         a.btn.btn-small(href='/tasks/#{task._id}/todo/new') 
                                //-             i.icon-plus-sign
                                //-             | 添加文档
                                //-     ul.unstyled
                                //-         - each todo in taskTodos
                                //-             li(data-id='#{todo._id}')
                                //-                 - if (todo.complete == 1)
                                //-                     span.complete(title='标记事项未完成')
                                //-                 - else
                                //-                     span.un-complete(title='标记事项已完成')
                                //-                 a.name(href='/tasks/#{task._id}/todos/#{todo._id}') #{todo.name}
                                //-                 span.time #{todo.operator.name} 创建于 #{todo.created_time}
                                //-                 .category  
                                //-                     span.label #{todo.category}
                                //-                 .comment-count
                                //-                     - if (todo.comments.length !== 0)
                                //-                         span.badge.badge-inverse #{todo.comments.length}留言
                                //- .task-summary-file.clearfix
                                //-     header 
                                //-         a.more(href='/tasks/#{task._id}/uploads', title='查看全部附件') 最新附件
                                //-         a.btn.btn-small(href='/tasks/#{task._id}/uploads?create=true') 
                                //-             i.icon-upload
                                //-             | 上传
                                //-     .file-item-wrapper.clearfix
                                //-         - each file in taskFiles
                                //-             .file-item(data-type='#{file.type}')
                                //-                 img.type(src='')
                                //-                 a.name(href='#{file.url}', target='_blank') #{file.name}
                                //-                 .log #{file.operator.name} 上传于 #{file.created_time}
block modal
    datalist#projectOption
        - each project in projects
            option(value='#{project.name}')
    datalist#taskUsersOption
        - each user in users
            option(value='#{user.name}')
    #editTaskModal.modal.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3 编辑任务
        .modal-body
            form#editTaskForm.form-horizontal(action='/tasks/#{task._id}')
                .control-group
                    label.control-label(for='name') 任务名
                    .controls
                        input(type='text', value="#{task.name}", autocomplete='off', placeholder='任务名', name='name', required='true')
                .control-group
                    label.control-label(for='taskUsers') 参与者
                    .controls
                        - each taskuser in task.users
                            input(type='text',name='taskUsers', value="#{taskuser.name}")
                        a#addMoreTaskUserBtn(href='#', tabindex='-1')
                            i.icon-plus
                            | 更多参与者 
                .control-group
                    label.control-label(for='project') 站点
                    .controls
                        - each taskproject in task.projects
                            input(type='text', name='project', autocomplete="off", value="#{taskproject}")
                        a#addMoreProjectBtn(href='#', tabindex="-1")
                            i.icon-plus
                            | 更多站点
                .control-group
                    label.control-label(for="branch") 分支
                    .controls
                        input(type="text", name="branch", value="#{task.branch}")
                        button#getNewCustomId.btn.btn-small(tabindex='-1') 获取新分支
                .control-group
                    label.control-label(for='score') 分值
                    .controls
                        input(type="number", name="score", autocomplete="off", step="5", value="#{task.score}")
        .modal-footer
            .modal-footer-btns
                button#deleteTaskBtn.btn.btn-danger.btn-small 删除
                - if (task.active)
                    button#archiveTaskBtn.btn.btn-inverse.btn-small 存档
                - else
                    button#archiveTaskBtn.btn.btn-inverse.btn-small 恢复
            button.btn(data-dismiss="modal", aria-hidden="true") 关闭
            button#saveTask.btn.btn-primary 保存

    #upsertMilestoneModal.modal.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3 添加时间点
        .modal-body
            form#upsertMilestoneForm.form-horizontal(action='/tasks/#{task._id}/milestones')
                .control-group
                    label.control-label(for='name') 名称
                    .controls
                            select(name='name')
                                option(value='提交测试') 提交测试
                                option(value='测试完成') 测试完成
                                option(value='发外网') 发外网
                            input#customMilestoneNameInput(type='text',name='name', autocomplete='off', placeholder='输入事件名称')
                            button#customMilestoneNameBtn.btn.btn-link.btn-small(tabindex='-1') 自定义事件名称
                .control-group
                    label.control-label(for='eventTime') 时间
                    .controls
                        input(type='date',name='eventTime', autocomplete='off', required='true', pattern='^[0-9]{4}/(((0[13578]|(10|12))/(0[1-9]|[1-2][0-9]|3[0-1]))|(02-(0[1-9]|[1-2][0-9]))|((0[469]|11)/(0[1-9]|[1-2][0-9]|30)))$')
                .control-group
                    label.control-label(for='content') 说明
                    .controls
                        textarea(name="content")
        .modal-footer
            .modal-footer-btns
                button#deleteMilestoneBtn.btn.btn-danger.btn-small 删除
            button.btn(data-dismiss="modal", aria-hidden="true") 关闭
            button#saveMilestoneBtn.btn.btn-primary 保存
    #createStatusModal.modal.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3
        .modal-body
            form#createStatusForm.form-horizontal(action='/tasks/#{task._id}/status')
                input(type="hidden", name="name")
                textarea(name='content', autocomplete='off', rows="15", placeholder='可选描述')
                input#uploadStatusFilesInput(type='file', name='task_files', multiple="multiple")
        .modal-footer
            button.btn(data-dismiss="modal", aria-hidden="true") 关闭
            button#saveStatusBtn.btn.btn-primary 保存
