extends ../layout
append head
    script(src='/javascripts/task/info.js')
block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        #edit_task_info_form_wrapper.task-form-wrapper
                                            form#edit_task_info_form.form-horizontal(action='/tasks/#{task._id}')
                                                .control-group
                                                    label.control-label(for='name') 任务名称
                                                    .controls
                                                        input(type='text', value='#{task.name}', autocomplete='off', placeholder='名称', name='name', required='true')
                                                .control-group
                                                    .controls
                                                        button#edit_task_info_form_btn.btn.btn-primary 更新
                                        #edit_task_users_form_wrapper.task-form-wrapper
                                            form#edit_task_users_form.form-horizontal(action='/tasks/#{task._id}')
                                                .control-group
                                                    label.control-label(for='task_users') 参与者
                                                    .controls
                                                        - each user in taskUsers
                                                            input(type='text',name='task_users',list="task_users_option", autocomplete='off', value='#{user.name}')
                                                        a#add_more_task_user(href='#', tabindex='-1')
                                                            i.icon-plus
                                                            | 更多参与者 
                                                        datalist#task_users_option
                                                            - each user in users
                                                                option(value='#{user.name}') #{user.role}
                                                .control-group
                                                    .controls
                                                        button#edit_task_users_form_btn.btn.btn-primary 更新
                    .list
                        .list-header.clearfix
                            header
                                ul.breadcrumb
                                    li
                                        a(href='/tasks') 任务
                                        span.divider /
                                    li.active(data-id='#{task._id}') #{task.task_id} - #{task.name}
                            .operate-wrapper
                                button#edit_task_info.btn.btn-primary.btn-small 编辑
                                - if (task.active)
                                    button#archive_task_btn.btn.btn-inverse.btn-small 存档
                                - else
                                    button#archive_task_btn.btn.btn-inverse.btn-small 恢复
                                button#delete_task_btn.btn.btn-danger.btn-small 删除
                        .task-summary.scrollable
                            .task-summary-wrapper.clearfix
                                .task-users.clearfix
                                    h5 参与者
                                        button#edit_task_users.btn.btn-link.btn-mini 编辑
                                    - each user in taskUsers
                                        a.user(href='/users/#{user._id}')
                                            img.img-polaroid.img-rounded(src='#{user.avatar_url}')
                                            .info 
                                                .name #{user.name}
                                                .role 
                                                    small 
                                                        em #{user.role}