extends ../layout
append head
    script(src='/javascripts/task/info.js')
block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        #edit_task_info_form_wrapper.task-form-wrapper
                                            form#edit_task_info_form.form-horizontal(action='/tasks/#{task._id}')
                                                legend 编辑任务名称
                                                .control-group
                                                    label.control-label(for='name') 任务名称
                                                    .controls
                                                        input(type='text', value='#{task.name}', autocomplete='off', placeholder='名称', name='name', required='true')
                                                .control-group
                                                    .controls
                                                        button#edit_task_info_form_btn.btn.btn-primary 更新
                                        #edit_task_users_form_wrapper.task-form-wrapper
                                            form#edit_task_users_form.form-horizontal(action='/tasks/#{task._id}')
                                                legend 编辑参与者
                                                .control-group
                                                    label.control-label(for='task_users') 参与者
                                                    .controls
                                                        - each user in taskUsers
                                                            input(type='text',name='task_users',list="task_users_option", autocomplete='off', value='#{user.name}')
                                                        a#add_more_task_user(href='#', tabindex='-1')
                                                            i.icon-plus
                                                            | 更多参与者 
                                                        datalist#task_users_option
                                                            - each user in users
                                                                option(value='#{user.name}') #{user.role}
                                                .control-group
                                                    .controls
                                                        button#edit_task_users_form_btn.btn.btn-primary 更新
                                        #add_task_milestone_form_wrapper.task-form-wrapper
                                            form#add_task_milestone_form.form-horizontal(action='/tasks/#{task._id}/milestones')
                                                legend 添加时间点
                                                .control-group
                                                    label.control-label(for='task_milestone_name') 名称
                                                    .controls
                                                            select(name='task_milestone_name')
                                                                option(value='提交测试') 提交测试
                                                                option(value='发外网') 发外网
                                                            input#custom_milestone_name_input(type='text',name='task_milestone_name', autocomplete='off', placeholder='输入事件名称')
                                                            button(tabindex='-1')#custom_milestone_name.btn.btn-link.btn-small 自定义事件名称
                                                .control-group
                                                    label.control-label(for='task_milestone_time') 时间
                                                    .controls
                                                        input(type='date',name='task_milestone_time', autocomplete='off', required='true')
                                                .control-group
                                                    .controls
                                                        button#add_task_milestone_form_btn.btn.btn-primary 添加
                                        #task_branch_form_wrapper.task-form-wrapper
                                            form#task_branch_form.form-horizontal(action='/tasks/#{task._id}')
                                                legend 编辑开发分支
                                                .control-group
                                                    label.control-label(for='branch') 分支名
                                                    .controls
                                                        input(type='text', value='#{task.branch}', autocomplete='off', placeholder='例如：master-zhengzheng/123', name='branch')
                                                .control-group
                                                    .controls
                                                        button#task_branch_form_btn.btn.btn-primary 更新
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}') #{task.task_id} - #{task.name}
                            .operate-wrapper
                                a.btn.btn-small(href='/tasks') 
                                    i.icon-chevron-left
                                    |  返回任务列表
                                button#edit_task_info.btn.btn-primary.btn-small 编辑
                                - if (task.active)
                                    button#archive_task_btn.btn.btn-inverse.btn-small 存档
                                - else
                                    button#archive_task_btn.btn.btn-inverse.btn-small 恢复
                                button#delete_task_btn.btn.btn-danger.btn-small 删除
                        .task-summary.scrollable
                            .task-summary-wrapper.clearfix
                                .task-nav
                                    ul.nav.nav-pills
                                        li.active
                                            a(href='/tasks/#{task._id}') 摘要
                                        li
                                            a(href='') 待办列表
                                        li
                                            a(href='/tasks/#{task._id}/status') 版本管理
                                        li
                                            a(href='') 附件
                                .task-users.clearfix
                                    h5
                                        span 参与者
                                        button#edit_task_users.btn.btn-link.btn-mini 编辑
                                    .task-users-wrapper.clearfix
                                        - each user in taskUsers
                                            a.user(href='/users/#{user._id}')
                                                img.img-polaroid.img-rounded(src='#{user.avatar_url}')
                                                .info 
                                                    .name #{user.name}
                                                    .role 
                                                        small 
                                                            em #{user.role}
                                .task-summary-todo.clearfix
                                    h5
                                        a(href='#') 待办事项
                                        button#add_todo_item_in_taskinfo.btn.btn-link.btn-mini 添加待办项
                                .task-summary-file.clearfix
                                    h5 附件
                                .task-summary-version.clearfix
                                    h5 
                                        a(href='/tasks/#{task._id}/status',title='点击查看任务版本历史') 版本管理
                                    .branch
                                        - if (task.branch)
                                            button#task_branch_btn.btn.btn-small.btn-link(title='单击修改分支') #{task.branch}
                                        - else
                                            button#task_branch_btn.btn.btn-small.btn-link 分支待添加
                                    .status
                                        span.label.label-inverse #{task.status}
                                        a(href='/tasks/#{task._id}/status?change=true') 修改任务状态
                                .task-summary-milestone.clearfix
                                    h5 
                                        span 时间点
                                        button#add_milestone_in_taskinfo.btn.btn-link.btn-mini 添加时间点
                                    ul
                                        - each milestone in milestones
                                            li
                                                a(href='/tasks/#{task._id}/milestones/#{milestone._id}') #{milestone.name}
                                                span #{milestone.event_time.substring(5)}