extends ../layout
append head
    script(src='/javascripts/task/requirement.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header 需求
                            .back
                                a.btn.btn-small(href="/")  
                                    i.icon-chevron-left
                                    |  任务列表
                            .operate-wrapper
                        .list-body.scrollable
                            .task-list-filter
                                .task-custom-id id
                                .name 任务名
                                .branch 分支
                                .status 状态
                                .time  下一个时间点
                                .users 人员
                            ul.task-list.unstyled
                                - each task in taskList
                                    li(class="#{task.belong}") 
                                        .task-custom-id #{task.custom_id}
                                        a.name(href='/tasks/#{task.custom_id}') #{task.name}
                                        .branch #{task.branch}
                                        .status
                                            span.label #{task.status}                                            
                                        .time
                                            - if (task.milestones.length > 0)
                                                span(rel="popover", data-original-title="All Upcoming Events") #{task.milestones[0].name} #{task.milestones[0].event_time.substring(5)}
                                                .event-time-content-in-popover
                                                    - each milestone in task.milestones
                                                        | #{milestone.name} #{milestone.event_time.substring(5)} 
                                        .users
                                            span(rel="popover", data-original-title="所有参与人员")
                                                - each pop_user in task.users
                                                    |  #{pop_user.name}
                                            .task-users-content-in-popover
                                                - each pop_user in task.users
                                                    | #{pop_user.name} 