extends ../layout
append head
    script(src='/javascripts/review/new.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header 评价 #{user.name}
                            .back
                                a.btn.btn-small(href="/review-index")
                                    i.icon-chevron-left
                                    | 选择成员
                            .operate-wrapper
                        .main-body.scrollable
                            .review-form-area
                                ul#reviewTab.nav.nav-tabs
                                    li
                                        a(href="#scoreStat") 得分统计
                                    li
                                        a(href="#type2Tab") 季度考评
                                    li
                                        a(href="#type3Tab") 团队贡献
                                    li
                                        a(href="#type4Tab") 流程规范
                                    li
                                        a(href="#type5Tab") 创新
                                .tab-content
                                    #scoreStat.tab-pane
                                        form.form-inline
                                            input(type="date", name="beginTime", placeholder="任务开始时间")
                                            input(type="date", name="endTime", placeholder="任务结束时间")
                                            button.btn.btn-primary(type="submit") 计算
                                    #type2Tab.tab-pane          
                                        form#type2Form.form-horizontal(method="post", action="/review/#{user._id}")
                                            input(type="hidden", value="type2", name="type")
                                            - for (var key in type2Standards)
                                                .control-group
                                                    label.control-label(for='#{key}') #{type2Standards[key].name}
                                                    .controls
                                                        - each item,index in type2Standards[key].level
                                                            label.radio.inline
                                                                input.review-input-radio(type="radio", value="#{item.score}", name="#{key}")
                                                                span.review-input-radio-content #{item.name}
                                            .control-group.disnone
                                                label.control-label(for='description') 说明
                                                .controls
                                                    textarea.span6(name="description", rows="10") 无
                                            .control-group
                                                .controls
                                                    button#saveType2Btn.btn.btn-primary 保存 
                                        - if (reviews.type2)
                                            h5 评价记录
                                            table.table.table-striped.table-condensed
                                                thead
                                                    tr
                                                        th #
                                                        th 评价人
                                                        th 时间
                                                        th 操作
                                                tbody
                                                    - each review,index in reviews.type2
                                                        tr 
                                                            td #{reviews.type2.length - index}
                                                            td #{review.operator.name}
                                                            td #{review.updated_time}
                                                            td.operate-review
                                                                a.btn.btn-small(href="/review/#{user._id}/item/#{review._id}/edit", title="修改")
                                                                    i.icon-edit
                                                                a.btn.btn-small.delete-review-btn(href="/review/#{user._id}/item/#{review._id}", title="删除")
                                                                    i.icon-trash
                                    #type3Tab.tab-pane          
                                        form#type3Form.form-horizontal(method="post", action="/review/#{user._id}")
                                            input(type="hidden", value="type3", name="type")
                                            - for (var key in type3Standards)
                                                .control-group
                                                    label.control-label(for='#{key}') #{type3Standards[key].name}
                                                    .controls
                                                        - each item,index in type3Standards[key].level
                                                            label.radio.inline
                                                                input.review-input-radio(type="radio", value="#{item.score}", name="#{key}")
                                                                span.review-input-radio-content #{item.name}
                                            .control-group.disnone
                                                label.control-label(for='description') 说明
                                                .controls
                                                    textarea.span6(name="description", rows="10") 无                                                                
                                            .control-group
                                                .controls
                                                    button#saveType3Btn.btn.btn-primary 保存 
                                        - if (reviews.type3)
                                            h5 评价记录
                                            table.table.table-striped.table-condensed
                                                thead
                                                    tr
                                                        th #
                                                        th 评价人
                                                        th 时间
                                                        th 操作
                                                tbody
                                                    - each review,index in reviews.type3
                                                        tr 
                                                            td #{reviews.type3.length - index}
                                                            td #{review.operator.name}
                                                            td #{review.updated_time}
                                                            td.operate-review
                                                                a.btn.btn-small(href="/review/#{user._id}/item/#{review._id}/edit", title="修改")
                                                                    i.icon-edit
                                                                a.btn.btn-small.delete-review-btn(href="/review/#{user._id}/item/#{review._id}", title="删除")
                                                                    i.icon-trash
                                    #type4Tab.tab-pane
                                        form#type4Form.form-horizontal(method="post", action="/review/#{user._id}")
                                            input(type="hidden", value="type4", name="type")
                                            - for (var key in type4Standards)
                                                .control-group.disnone
                                                    label.control-label(for='#{key}') #{type4Standards[key].name}
                                                    .controls
                                                        - each item,index in type4Standards[key].level
                                                            label.radio.inline
                                                                input.review-input-radio(type="radio", value="#{item.score}", name="#{key}", checked="checked")
                                                                span.review-input-radio-content #{item.name}
                                            .control-group
                                                label.control-label(for='description') 说明
                                                .controls
                                                    textarea.span6(name="description", rows="10", placeholder="必填")
                                            .control-group
                                                .controls
                                                    button#saveType4Btn.btn.btn-primary 保存 
                                        - if (reviews.type4)
                                                h5 评价记录
                                                table.table.table-striped.table-condensed
                                                    thead
                                                        tr
                                                            th #
                                                            th 评价人
                                                            th 时间
                                                            th 操作
                                                    tbody
                                                        - each review,index in reviews.type4
                                                            tr 
                                                                td #{reviews.type4.length - index}
                                                                td #{review.operator.name}
                                                                td #{review.updated_time}
                                                                td.operate-review
                                                                    a.btn.btn-small(href="/review/#{user._id}/item/#{review._id}/edit", title="修改")
                                                                        i.icon-edit
                                                                    a.btn.btn-small.delete-review-btn(href="/review/#{user._id}/item/#{review._id}", title="删除")
                                                                        i.icon-trash
                                    #type5Tab.tab-pane
                                        form#type5Form.form-horizontal(method="post", action="/review/#{user._id}")
                                            input(type="hidden", value="type5", name="type")
                                            - for (var key in type5Standards)
                                                .control-group.disnone
                                                    label.control-label(for='#{key}') #{type5Standards[key].name}
                                                    .controls
                                                        - each item,index in type5Standards[key].level
                                                            label.radio.inline
                                                                input.review-input-radio(type="radio", value="#{item.score}", name="#{key}", checked="checked")
                                                                span.review-input-radio-content #{item.name}
                                            .control-group
                                                label.control-label(for='description') 说明
                                                .controls
                                                    textarea.span6(name="description", rows="10", placeholder="必填")
                                            .control-group
                                                .controls
                                                    button#saveType5Btn.btn.btn-primary 保存 
                                        - if (reviews.type5)
                                            h5 评价记录
                                            table.table.table-striped.table-condensed
                                                thead
                                                    tr
                                                        th #
                                                        th 评价人
                                                        th 时间
                                                        th 操作
                                                tbody
                                                    - each review,index in reviews.type5
                                                        tr 
                                                            td #{reviews.type5.length - index}
                                                            td #{review.operator.name}
                                                            td #{review.updated_time}
                                                            td.operate-review
                                                                a.btn.btn-small(href="/review/#{user._id}/item/#{review._id}/edit", title="修改")
                                                                    i.icon-edit
                                                                a.btn.btn-small.delete-review-btn(href="/review/#{user._id}/item/#{review._id}", title="删除")
                                                                    i.icon-trash