extends ./layout
append head
    script(src='/javascripts/index/index.js')
block content
    .app-layout
        #main
            include ./include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header 任务
                            .operate-wrapper
                                button#createTaskBtn.btn.btn-primary 添加任务
                        .list-body.scrollable
                            .task-list-filter
                                .task-custom-id id
                                .name 任务名
                                .branch
                                    .btn-group#task_branch_filter
                                        button.btn.btn-small 分支
                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a(href='/tasks?branch=master')  master
                                            li
                                                a(href='/tasks?branch=test') test
                                            li
                                                a(href='/tasks?branch=dev') dev
                                .status
                                    .btn-group#task_status_filter
                                        button.btn.btn-small 状态
                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                            span.caret
                                        ul.dropdown-menu
                                    datalist#datalist_status_selecter
                                        include ./include/task-status
                                .time  下一个时间点
                                .users 人员
                                    //- .btn-group#task_user_filter
                                    //-     button.btn.btn-small 
                                    //-     button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                    //-         span.caret
                                    //-     ul.dropdown-menu
                                    //-         - for (var key in userGroup)
                                    //-             li.dropdown-submenu
                                    //-                 a(tabindex='-1',href='#') #{key}
                                    //-                 ul.dropdown-menu
                                    //-                     - each user in userGroup[key]
                                    //-                         li
                                    //-                             a.clearfix(href='/tasks?user=#{user._id}')
                                    //-                                 span.name(data-id='#{user._id}') #{user.name}
                                    //-                                 //- span.role #{user.role}
                            ul.task-list.unstyled
                                - each task in taskList
                                    li(class="#{task.belong}") 
                                        .task-custom-id #{task.custom_id}
                                        a.name(href='/tasks/#{task.custom_id}') 
                                            - if (!task.active)
                                                i.icon-lock(title='该任务已存档')
                                            | #{task.name}
                                        .branch #{task.branch}
                                        .status
                                            span.label #{task.status}                                            
                                        .time
                                            - if (task.milestones.length > 0)
                                                span(rel="popover", data-original-title="All Upcoming Events") #{task.milestones[0].name} #{task.milestones[0].event_time.substring(5)}
                                                .event-time-content-in-popover
                                                    ul
                                                        - each milestone in task.milestones
                                                            li #{milestone.name} #{milestone.event_time.substring(5)}
                                        .users
                                            span(rel="popover", data-original-title="所有参与人员")
                                                - each pop_user in task.users
                                                    |  #{pop_user.name}
                                            .task-users-content-in-popover
                                                    ul
                                                        - each pop_user in task.users
                                                            li #{pop_user.name}
block modal
    datalist#projectOption
        - each project in projects
            option(value='#{project.name}')
    datalist#taskUsersOption
        - each user in users
            option(value='#{user.name}')
    #createTaskModal.modal.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3 添加任务
        .modal-body
            form#createTaskForm.form-horizontal(action='/tasks')
                .control-group
                    label.control-label(for='name') 任务名
                    .controls
                        input(type='text', autocomplete='off', placeholder='任务名', name='name', required='true')
                .control-group
                    label.control-label(for='taskUsers') 参与者
                    .controls
                        input(type='text',name='taskUsers')
                        input(type='text',name='taskUsers')
                        input(type='text',name='taskUsers')
                        a#addMoreTaskUserBtn(href='#', tabindex='-1')
                            i.icon-plus
                            | 更多参与者 
                .control-group
                    label.control-label(for='project') 站点
                    .controls
                        input(type='text', name='project', autocomplete="off")
                        a#addMoreProjectBtn(href='#', tabindex="-1")
                            i.icon-plus
                            | 更多站点
                .control-group
                    label.control-label(for="branch") 分支
                    .controls
                        select(name="branch")
                            - each branch in branches
                                option(value="#{branch}") #{branch}
                            option(value="") 不分配分支
                .control-group
                    label.control-label(for='score') 分值
                    .controls
                        input(type="number", name="score", autocomplete="off", step="5")
        .modal-footer
            button.btn(data-dismiss="modal", aria-hidden="true") 关闭
            button#saveTask.btn.btn-primary 保存