extends ../layout
append head
    script(src='/javascripts/user/index.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        form#create_user_form.form-horizontal(action='/users')
                                            .control-group
                                                label.control-label(for='name') 名字
                                                .controls
                                                    input(type='text', autocomplete='off', placeholder='名称', name='name', required='true')
                                            .control-group
                                                label.control-label(for='ip') IP
                                                .controls
                                                    input(type='text', autocomplete='off', placeholder='IP', name='ip', required='true')
                                            .control-group
                                                label.control-label(for='role') 角色
                                                .controls
                                                    .checkbox
                                                        input(type="checkbox", value="PM", name="role")
                                                        | PM
                                                    .checkbox
                                                        input(type="checkbox", value="Programmer", name="role")
                                                        | Programmer
                                                    .checkbox
                                                        input(type="checkbox", value="Tester", name="role") 
                                                        | Tester
                                                    .checkbox
                                                        input(type="checkbox", value="Designer", name="role") 
                                                        | Designer
                                                    .checkbox
                                                        input(type="checkbox", value="Customer", name="role") 
                                                        | Customer
                                            .control-group
                                                label.control-label(for='avatar') 头像
                                                .controls
                                                    .avatar-preview
                                                       img.img-rounded.img-polaroid(src='/images/blank-avatar.jpg') 
                                                       input(type='hidden', name='avatar_url')
                                            .controls-group
                                                .controls
                                                    input#upload_avatar_input(type='file', name='avatar')
                                            .control-group
                                                .controls
                                                    button#create_user_btn.btn.btn-primary 添加
                    .list
                        .list-header.clearfix
                            header 成员
                            .operate-wrapper
                                button#show_active_false_user.btn 显示未激活的成员
                                button#add_user.btn.btn-primary 添加成员
                        .user-list.scrollable
                            .user-list-wrapper.clearfix
                                - each user in users
                                    - if (!user.active || user.active === 'open')
                                        a.user-item(href='/users/#{user._id}')
                                            img.img-rounded.img-polaroid(src='#{user.avatar_url}')
                                            .item-info
                                                .name #{user.name}
                                                small
                                                    em #{user.role}
                                                .ip #{user.ip}
                                    - else
                                        a.user-item.disnone(href='/users/#{user._id}')
                                            img.img-rounded.img-polaroid(src='#{user.avatar_url}')
                                            .item-info
                                                .name #{user.name}
                                                small
                                                    em #{user.role}
                                                .ip #{user.ip}                                   