extends ../layout
append head
    script(src='/javascripts/user/info.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        form#edit_user_form.form-horizontal(action='/users/#{user._id}')
                                            input(type='hidden', value='#{user._id}', name='id')
                                            .control-group
                                                label.control-label(for='name') 名字
                                                .controls
                                                    input(type='text', value='#{user.name}', autocomplete='off', placeholder='名称', name='name', required='true')
                                            .control-group
                                                label.control-label(for='ip') IP
                                                .controls
                                                    input(type='text', value='#{user.ip}', autocomplete='off', placeholder='IP', name='ip', required='true')
                                            .control-group
                                                label.control-label(for='role') 角色
                                                .controls
                                                    select#role_select(name='role', data-origin-name='#{user.role}')
                                                        option(value='PM') PM
                                                        option(value='Programmer') Programmer
                                                        option(value='Tester') Tester
                                                        option(value='Designer') Designer
                                                        option(value='Customer') Customer
                                            .control-group
                                                label.control-label(for='avatar_url') 头像
                                                .controls
                                                    .avatar-preview
                                                       img.img-rounded.img-polaroid(src='#{user.avatar_url}') 
                                                       input(type='hidden', name='avatar_url', value='#{user.avatar_url}')
                                            .controls-group
                                                label.control-label(for='avatar') 更换头像
                                                .controls
                                                    input#upload_avatar_input(type='file', name='avatar')
                                            .control-group
                                                .controls
                                                    button#edit_user_btn.btn.btn-primary 更新
                    .list
                        .list-header.clearfix
                            header
                                ul.breadcrumb
                                    li
                                        a(href='/users') 成员
                                        span.divider /
                                    li.active #{user.name}
                            .operate-wrapper
                                button.btn.btn-primary.btn-small 编辑
                                - if (user.active == 'close')
                                    button#fobid_user.btn.btn-small(data-active='open') 激活
                                - else
                                    button#fobid_user.btn.btn-small(data-active='close') 禁用
                                button.btn.btn-danger.btn-small 删除
                        .user-list.scrollable
                            .user-info-wrapper.clearfix
                                .pull-left
                                    a(href='#{user.avatar_url}')
                                        img.img-rounded.img-polaroid(src='#{user.avatar_url}')
                                .pull-left
                                    h4 #{user.name}
                                    p #{user.role}
                                    p #{user.ip}
                            .user-operate-log
                                - if (logs)
                                    .user-operate-log-title 最近操作记录
                                    - each log in logs
                                        .log-item
                                            h5 #{log.date}
                                            ul
                                                - each log_content in log.content
                                                    li
                                                        a(href='/tasks/#{log_content.task_id}') ##{log_content.task_custom_id} #{log_content.task_name}
                                                        | #{log_content.log_type}  
                                                        span #{log_content.created_time}
