extends ../layout
append head
    script(src='/javascripts/user/info.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        form#edit_user_form.form-horizontal(action='/users/#{user._id}')
                                            input(type='hidden', value='#{user._id}', name='id')
                                            .control-group
                                                label.control-label(for='name') 名字
                                                .controls
                                                    input(type='text', value='#{user.name}', autocomplete='off', placeholder='名称', name='name', required='true')
                                            .control-group
                                                label.control-label(for='ip') IP
                                                .controls
                                                    input(type='text', value='#{user.ip}', autocomplete='off', placeholder='IP', name='ip', required='true')
                                            .control-group
                                                label.control-label(for='role') 角色
                                                .controls
                                                    - each role in roles
                                                        - if (user.role.indexOf(role) > -1)
                                                            .checkbox
                                                                input(type="checkbox", name="role", checked="checked", value="#{role}") 
                                                                | #{role}
                                                        - else
                                                            .checkbox
                                                                input(type="checkbox", name="role", value="#{role}") 
                                                                | #{role}
                                            .control-group
                                                label.control-label(for='avatar_url') 头像
                                                .controls
                                                    .avatar-preview
                                                       img.img-rounded.img-polaroid(src='#{user.avatar_url}') 
                                                       input(type='hidden', name='avatar_url', value='#{user.avatar_url}')
                                            .controls-group
                                                label.control-label(for='avatar') 更换头像
                                                .controls
                                                    input#upload_avatar_input(type='file', name='avatar')
                                            .control-group
                                                .controls
                                                    button#edit_user_btn.btn.btn-primary 更新
                    .list
                        .list-header.clearfix
                            header #{user.name}
                            .back
                                a.btn.btn-small(href="/users") 
                                    i.icon-chevron-left
                                    |  成员列表
                            .operate-wrapper
                                button.btn.btn-primary.btn-small 编辑
                                - if (user.active == 'close')
                                    button#fobid_user.btn.btn-small(data-active='open') 激活
                                - else
                                    button#fobid_user.btn.btn-small(data-active='close') 禁用
                                button.btn.btn-danger.btn-small 删除
                        .user-list.scrollable
                            .user-info-wrapper.clearfix
                                .pull-left
                                    a(href='#{user.avatar_url}')
                                        img.img-rounded.img-polaroid(src='#{user.avatar_url}')
                                .pull-left
                                    h4 #{user.name}
                                    p #{user.role}
                                    p #{user.ip}
                            .user-tab-content
                                ul.nav.nav-tabs
                                    li.active
                                        a(href="#workingOn", data-toggle="tab") working on
                                    li
                                        a(href="#operateLog", data-toggle="tab") 操作日志
                                .tab-content
                                    #workingOn.tab-pane.active
                                        .working-num
                                            span.badge.badge-info #{tasks.length} 个任务
                                        table.table
                                            - each task in tasks
                                                tr
                                                    td ##{task.custom_id}
                                                    td 
                                                        a(href="/tasks/#{task.custom_id}") #{task.name}
                                                    td
                                                        span.label.task-status #{task.status}
                                                    td
                                                        span.branch #{task.branch}
                                                    td #{task.score}
                                                    td #{task.projects.join(", ")}
                                        - if (bugs)
                                            .working-num
                                                span.badge.badge-important #{bugs.length} 个bug
                                            table.table
                                                - each bug,index in bugs
                                                    tr
                                                        td ##{bugs.length - index}
                                                        td
                                                            a(href="/tasks/#{bug.task.custom_id}/bugs/#{bug._id}") #{bug.name}
                                                        td
                                                            span.label.bug-status #{bug.status}
                                                        td #{bug.type}
                                                        td #{bug.level}
                                                        td #{bug.score}
                                    #operateLog.tab-pane
                                        .user-operate-log
                                            - for (var date in logs)
                                                .log-group-date
                                                    h5 #{date}
                                                    ul.unstyled
                                                        - each item in logs[date]
                                                            li
                                                                span.id ##{item.task.custom_id}
                                                                a(href="/tasks/#{item.task.custom_id}") #{item.task.name} 
                                                                span #{item.log_type}
                                                                span.content #{item.content}
                                                                span #{item.created_time}