extends ../layout
append head
    script(src='/javascripts/bug/index.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header 所有Bug (#{total})
                            .operate-wrapper
                                a.btn.btn-small.btn-primary(href="/bugs-assign-task") 添加bug
                        .main-body.scrollable
                            .bug-index-wrapper.clearfix
                                .bug-index-info
                                    table.table.table-hover.table-condensed
                                        thead
                                            tr
                                                th.task-id 任务id
                                                th 名称
                                                th
                                                    .btn-group#bugStatusFilter
                                                        button.btn.btn-small 状态
                                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                                            span.caret
                                                        ul.dropdown-menu
                                                            li
                                                                a(href="/bugs-index") 全部
                                                            - each status in bugStatus
                                                                    li
                                                                        a(href="/bugs-index?status=#{status}") 
                                                                            span.label #{status}
                                                th
                                                    .btn-group#bugTypesFilter
                                                        button.btn.btn-small 类型
                                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                                            span.caret
                                                        ul.dropdown-menu
                                                            li
                                                                a(href="/bugs-index") 全部
                                                            - each type in bugTypes
                                                                    li
                                                                        a(href="/bugs-index?type=#{type}") #{type}
                                                th
                                                    .btn-group#bugScoresFilter
                                                        button.btn.btn-small 分值
                                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                                            span.caret
                                                        ul.dropdown-menu
                                                            li
                                                                a(href="/bugs-index") 全部
                                                            - each score in bugScores
                                                                    li
                                                                        a(href="/bugs-index?score=#{score.score}") #{score.score}
                                                th
                                                    .btn-group#bugLevelFilter
                                                        button.btn.btn-small 等级
                                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                                            span.caret
                                                        ul.dropdown-menu
                                                            li
                                                                a(href="/bugs-index") 全部
                                                            - each level in bugLevels
                                                                    li
                                                                        a(href="/bugs-index?level=#{level}") #{level}
                                                th
                                                    .btn-group#bugAssignToFilter
                                                        button.btn.btn-small 责任人
                                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                                            span.caret
                                                        ul.dropdown-menu
                                                            li 
                                                                a(href="/bugs-index") 全部
                                                            - each assign_to in assignToGroup
                                                                li
                                                                    a(href="/bugs-index?assign_to=#{assign_to._id}") #{assign_to.name}
                                                th
                                                    .btn-group#bugOperatorToFilter
                                                        button.btn.btn-small 创建人
                                                        button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
                                                            span.caret
                                                        ul.dropdown-menu
                                                            li 
                                                                a(href="/bugs-index") 全部
                                                            - each operator in operatorGroup
                                                                li
                                                                    a(href="/bugs-index?operator_id=#{operator._id}") #{operator.name}
                                                th 留言
                                                th 更新时间
                                        tbody
                                            - each bug in bugs
                                                tr
                                                    td.task-id 
                                                        a(href="/tasks/#{bug.task.custom_id}") #{bug.task.custom_id}
                                                    td 
                                                        a(href="/tasks/#{bug.task.custom_id}/bugs/#{bug._id}") #{bug.name}
                                                    td 
                                                        span.label.bug-status #{bug.status}
                                                    td #{bug.type}
                                                    td #{bug.score}
                                                    td #{bug.level}
                                                    td #{bug.programmer && bug.programmer.name}
                                                    td #{bug.operator.name}
                                                    td 
                                                        span.badge #{bug.comments.length} 
                                                    td #{bug.updated_time}
                                    - if (total > 0)
                                        ul.pager(data-count='#{total}')
                                            li.previous
                                                a(href='#') &larr;前一页
                                            li.next
                                                a(href='#') 后一页&&rarr;