extends ../layout
append head
    script(src='/framework/kindeditor-4.1.3/kindeditor.js')
    script(src='/javascripts/todo/edit.js')
block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}') #{task.custom_id} - #{task.name}
                            .operate-wrapper
                                a.btn.btn-small(href='/tasks/#{task._id}/todos') 
                                    i.icon-chevron-left
                                    |  返回待办列表
                        .main-body.scrollable
                            .todo-edit-wrapper.clearfix
                                include ../include/task-nav
                                form#edit_task_todo_form.form-horizontal(action='/tasks/#{task._id}/todos/#{todo._id}',data-id='#{todo._id}')
                                    legend 编辑待办项
                                    .control-group
                                        label.control-label(for='name') 名称和类别
                                        .controls
                                            input.span6(type='text', autocomplete='off', name='name', required='true', value='#{todo.name}') 
                                            select#task_todo_category_selecter(name='category',data-origin-name='#{todo.category}')
                                                option(value='需求') 需求
                                                option(value='bug') bug
                                                option(value='其它') 其它
                                    .control-group
                                        label.control-label(for='description') 描述
                                        .controls
                                            textarea#edit_todo_des.span9(name='description', autocomplete='off', rows="15") #{todo.content}
                                    .control-group
                                        label.control-label(for='origin-files') 原附件
                                        .controls
                                            .todo-origin-files
                                                - if (todo.files.length > 0)
                                                    - each file in todo.files
                                                        .ori-file-item
                                                            a(href='#{file.url}') #{file.name}
                                                            i.icon-remove(title='删除这个附件',data-id='#{file._id}')
                                                - else
                                                    | 无 
                                    .controls-group
                                        label.control-label(for='task_files') 更改附件
                                        .controls
                                            input#upload_todo_files_input(type='file', name='task_files', multiple="multiple")
                                    .control-group
                                        .controls
                                            button#edit_task_todo_form_btn.btn.btn-primary 更 新