extends ../layout
append head
    script(src='/javascripts/todo/index.js')
block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}') #{task.custom_id} - #{task.name}
                            .operate-wrapper
                                a.btn.btn-small(href='/tasks/#{task._id}') 
                                    i.icon-chevron-left
                                    |  返回任务摘要
                                a.btn.btn-primary.btn-small(href='/tasks/#{task._id}/todo/new') 添加待办事项
                        .main-body.scrollable
                            .todo-list-wrapper.clearfix
                                include ../include/task-nav
                                .todo-filter
                                    .btn-group
                                        a.btn.btn-small.dropdown-toggle(data-toggle="dropdown", href="#") 完成状态
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a(href='/tasks/#{task._id}/todos')  全部
                                            li
                                                a(href='/tasks/#{task._id}/todos?complete=0')  未完成
                                            li
                                                a(href='/tasks/#{task._id}/todos?complete=1')  已完成
                                    .btn-group
                                        a.btn.btn-small.dropdown-toggle(data-toggle="dropdown", href="#") 类别
                                            span.caret
                                        ul.dropdown-menu
                                            li
                                                a(href='/tasks/#{task._id}/todos')  全部
                                            li
                                                a(href='/tasks/#{task._id}/todos?category=需求')  需求
                                            li
                                                a(href='/tasks/#{task._id}/todos?category=bug')  bug
                                            li
                                                a(href='/tasks/#{task._id}/todos?category=功能点')  功能点
                                            li
                                                a(href='/tasks/#{task._id}/todos?category=其它')  其它
                                ul.todo-list.unstyled
                                    - each todo in todos
                                        li(data-id='#{todo._id}')
                                            - if (todo.complete == 1)
                                                span.complete(title='标记事项未完成')
                                            - else
                                                span.un-complete(title='标记事项已完成')
                                            a.name(href='/tasks/#{task._id}/todos/#{todo._id}') #{todo.name}
                                            span.time #{todo.operator.name} 创建于 #{todo.created_time.substring(5)}  
                                            span.category.label #{todo.category}
                                            - if (todo.comments.length !== 0)
                                                span.comment-count.badge.badge-inverse #{todo.comments.length}留言


                                