extends ../layout
append head
    script(src='/javascripts/todo/index.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}', data-custom-id="#{task.custom_id}")
                                a.task-name(href='/tasks/#{task.custom_id}') #{task.custom_id} - #{task.name}
                            .back
                                a.btn.btn-small(href='/tasks/#{task.custom_id}') 
                                    i.icon-chevron-left
                                    |  任务主页
                            .operate-wrapper
                                a.btn.btn-primary.btn-small(href='/tasks/#{task.custom_id}/todo-new') 添加文档
                        .main-body.scrollable
                            .todo-list-wrapper.clearfix
                                //- .todo-filter
                                //-     .btn-group
                                //-         a.btn.btn-small.dropdown-toggle(data-toggle="dropdown", href="#") 完成状态
                                //-             span.caret
                                //-         ul.dropdown-menu
                                //-             li
                                //-                 a(href='/tasks/#{task._id}/todos')  全部
                                //-             li
                                //-                 a(href='/tasks/#{task._id}/todos?complete=0')  未完成
                                //-             li
                                //-                 a(href='/tasks/#{task._id}/todos?complete=1')  已完成
                                //-     .btn-group
                                //-         a.btn.btn-small.dropdown-toggle(data-toggle="dropdown", href="#") 类别
                                //-             span.caret
                                //-         ul#todo_category_dropdown.dropdown-menu
                                //-             li
                                //-                 a(href='/tasks/#{task._id}/todos')  全部
                                //-     datalist#todo_category_datalist
                                //-         include ../include/todo-category
                                ul.todo-list.unstyled
                                    - each todo, index in todos
                                        li(data-id='#{todo._id}')
                                            span.index ##{todos.length - index}
                                            a.name(href='/tasks/#{task._id}/todos/#{todo._id}') #{todo.name}
                                            span.time 创建于 #{todo.created_time}  
                                            .category
                                                span.label #{todo.category}
                                            .comment-count
                                                - if (todo.comments.length !== 0)
                                                    span.badge.badge-inverse #{todo.comments.length}留言



                                