extends ../layout
append head
    script(src='/javascripts/todo/index.js')
block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}') #{task.custom_id} - #{task.name}
                            .operate-wrapper
                                a.btn.btn-small(href='/tasks/#{task._id}') 
                                    i.icon-chevron-left
                                    |  返回任务摘要
                                a.btn.btn-primary.btn-small(href='/tasks/#{task._id}/todo/new') 添加待办事项
                        .main-body.scrollable
                            .status-info-wrapper.clearfix
                                include ../include/task-nav
                                