extends ../layout
append head
    script(src='/javascripts/todo/info.js')
block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}') #{task.custom_id} - #{task.name}
                            .operate-wrapper
                                a.btn.btn-small(href='/tasks/#{task._id}/todos') 
                                    i.icon-chevron-left
                                    |  返回待办列表
                        .main-body.scrollable
                            .todo-info-wrapper.clearfix
                                include ../include/task-nav
                                .todo-info(data-id='#{todo._id}')
                                    h3.name.clearfix
                                        - if (todo.complete)
                                            span.complete#complete_todo_btn(title='标记事项未完成')
                                        - else
                                            span.un-complete#complete_todo_btn(title='标记事项已完成')
                                        span #{todo.name}
                                        span.label #{todo.category}
                                        - each file in todo.files
                                            .file-item
                                                i.icon-file
                                                a(href='#{file.url}') #{file.name}
                                        .operator #{todo.operator.name} 修改于 #{todo.modify_time}  
                                    .content !{todo.content}