extends ../layout
append head
    script(src='/javascripts/status/index.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content(data-is-my-task="#{isMyTask}")
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        form#mark_task_status_form.form-horizontal(action='/tasks/#{task._id}/status')
                                            legend 修改任务状态
                                            .control-group
                                                label.control-label(for='task_status_name') 状态
                                                .controls
                                                        select#task_status_selecter(name='task_status_name', data-origin-name="#{task.status}")
                                                            include ../include/task-status
                                            .control-group
                                                label.control-label(for='description') 描述
                                                .controls
                                                    textarea.span3(name='description', autocomplete='off', rows="14", placeholder='可选描述')
                                            .controls-group
                                                label.control-label(for='task_files') 附件
                                                .controls
                                                    input#upload_status_files_input(type='file', name='task_files',multiple="multiple")
                                            .control-group
                                                .controls
                                                    button#mark_task_status_form_btn.btn.btn-primary 更新
                    .list
                        .list-header.clearfix
                            header(data-id='#{task._id}')
                                a.task-name(href='/tasks/#{task._id}') #{task.custom_id} - #{task.name}
                            .operate-wrapper
                                a.btn.btn-small(href='/tasks/#{task._id}') 
                                    i.icon-chevron-left
                                    |  返回任务摘要
                                button#mark_task_status.btn.btn-primary.btn-small 修改状态
                        .main-body.scrollable
                            .status-info-wrapper.clearfix
                                include ../include/task-nav
                                - each status in statusHistory
                                    .status-history-item.clearfix
                                        img.img-rounded(src='#{status.operator.avatar_url}')
                                        .status-history-content
                                            .popstripe
                                            .status-name #{status.name}
                                                .delete-this-status(title='删除此记录', data-id='#{status._id}')
                                                    i.icon-remove
                                            - if (status.content !== '')
                                                .status-history-des !{status.content}
                                            - if (status.files)
                                                .status-files
                                                    - each file in status.files
                                                        .file-item
                                                            i.icon-file
                                                            a(href='#{file.url}') #{file.name}
                                        .states-date #{status.created_time} by #{status.operator.name}